body {
  font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
}

.header {
  background-color: rgb(200, 200, 200);
  overflow: auto;
  width: 100%;
  height: 35px;
}

.header > span {
  font-size: 14px;
  position: absolute;
  top: 6px;
  right: 16px;
}

.logo {
  width: 166px;
  height: 40px;
  margin: 30px;
}

.search {
  width: 400px;
  height: 28px;
  border: 2px solid red;
  display: inline-block;
}

.search-bar {
  height: 90px;
  padding: 15px;
}

input[type="submit"] {
  background-image: url("./assets/search.png");
  background-color: rgb(251, 53, 53);
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid red;
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

input[type="text"]:focus {
  border: 2px solid red;
  outline: none;
}

input[type="text"] {
  border-radius: 4px 0 0 4px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-top: 0;
  margin-bottom: 0;
}

#form {
  text-align: center;
  align-items: center;
  display: flex;
  max-width: 500px;
  margin-left: 60px;
}

#categories {
  background-color: white;
  width: 20%;
  border-radius: 9px 9px 9px 9px;
  padding: 15px;
}

dt {
  margin-bottom: 10px;
  font-size: 15px;
}

#section {
  background-color: rgb(218, 218, 218);
  height: 514px;
  padding-left: 8px;
}

dt:hover {
  font-weight: bold;
}

#welcome {
  background-color: white;
  border-radius: 9px;
  width: 18%;
  padding: 9px;
  text-align: center;
}

#registerBtn {
  background-image: linear-gradient(94deg, #ff0a0a, #ff7539);
  padding: 3px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  height: 40px;
  margin-right: 10px;
  width: 90px;
}

#signInBtn {
  background-color: #f5f5f5;
  border: none;
  font-weight: bold;
  border-radius: 20px;
  height: 40px;
  font-size: 16px;
  width: 90px;
}

.featured {
  width: 90px;
  height: 90px;
  border-radius: 14px;
  border: 4px solid #ff7539;
}

#featured-products {
  border-radius: 9px;
  padding: 10px 0 5px 10px;
  padding-bottom: 5px;
  width: 70%;
  height: 483px;
}

.featured-product {
  display: inline-grid;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  width: 200px;
  height: 180px;
  margin: 4px 9px 3px 4px;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px 0 7px 8px;
  padding: 25px;
  font-size: 30px;
}

a {
  color: #333;
  text-decoration: none;
}

.product {
  width: 400px;
  height: 400px;
}

.search-result {
  display: inline-block;
  background-color: #f2f2f2;
  margin-right: 13px;
  margin-bottom: 10px;
  border-radius: 9px;
  max-width: 200px;
  height: 275px;
  font-size: smaller;
}

.image-results {
  width: 200px;
  height: 200px;
  border-radius: 9px;
}

#categoriesOnSearch {
  padding: 9px;
  background-color: white;
  font-size: small;
  display: inline-block;
  margin-left: 15px;
  width: 270px;
}

#subcategories {
  margin-left: 13px;
}

#results {
  display: inline-block;
  margin-top: 20px;
}

.left {
  float: right;
  padding-right: 150px;
}

.is-active {
  font-weight: bold;
}

#productOnPage {
  margin: 50px;
  display: inline-block;
}

#buyNow {
  background-image: linear-gradient(213deg, #ff7b48 7%, #f73c22 92%);
  margin-right: 7px;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 16px;
  height: 44px;
  width: 165px;
}

#addToCart {
  background-image: linear-gradient(239deg, #ffac2d 7%, #ff8219);
  margin-right: 7px;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 16px;
  height: 44px;
  width: 165px;
}

button {
  cursor: pointer;
}

#addToWishList {
  height: 44px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid;
}

#product-title-text {
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  width: fit-content;
  margin: 7px 0 7px;
}

.changeQuantity {
  border-radius: 50%;
  border: none;
  background: #f2f2f2;
  width: 24px;
  height: 24px;
}

i {
  color: #ffc000;
}

.product-price {
  margin: 10px 0 4px;
  font-weight: bold;
  font-size: larger;
}

.detail {
  margin: 11px 0 6px;
}

.nav {
  display: block;
  margin: 1rem 0;
}

.nav:hover,
.nav-item:hover {
  font-weight: bold;
}

.result-caption {
  padding-left: 4px;
  padding-right: 2px;
  font-size: 14px;
  margin: 7px 0 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 7px;
}

.price {
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
}

.myAcc {
  border: none;
  background-color: rgb(200, 200, 200);
}

#wishList {
  border: none;
  background-color: rgb(200, 200, 200);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding: 20px;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 150px;
  right: 0px;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover #myAcc {
  color: rgb(251, 53, 53);
  background-color: white;
}

.registerDropdown {
  background-color: #ff4747;
  color: #fff;
  border-radius: 2px;
  font-weight: 700;
  padding: 5px;
  width: 80px;
  height: 30px;
  text-align: center;
  border: none;
  margin: 3px 0 7px;
  text-align: center;
}

#signInDropdown {
  border-radius: 2px;
  font-weight: 700;
  padding: 6px;
  width: 80px;
  text-align: center;
  border: none;
  background-color: #fff1f1;
  color: #ff4747;
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 450px;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  text-align: center;
}

.mymodal1 {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 100px;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 40px;
  text-align: center;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modalBtn {
  border: none;
  font-size: 20px;
  background-color: white;
  padding-bottom: 4px;
}

.modalSubmit {
  background: linear-gradient(90deg, #ff640e, #ff3000);
  border-radius: 20px;
  border: none;
  width: 180px;
  height: 40px;
  font-weight: bold;
  color: white;
  font-size: 15px;
}

.inputModal {
  width: 190px;
  height: 27px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px;
}

.currentTab {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #ff7539;
  text-underline-offset: 5px;
}

.warning {
  color: red;
  font-size: small;
  margin: 15px 0 15px;
  display: inline-block;
  font-weight: bold;
}

#back {
  color: white;
  background-color: #ff4747;
  border-radius: 4px;
  border: none;
  height: 44px;
  line-height: 44px;
  padding: 0 40px;
  font-weight: 400;
  font-size: 14px;
  margin: 10px;
}

#a404 {
  background-color: #e8e8e8;
  width: 90%;
  border-radius: 8px;
  justify-content: center;
  margin: 0 auto;
  padding: 30px;
  margin-top: 40px;
  text-align: center;
}

#productCategory {
  margin: 15px;
  font-size: 15px;
}

#wishlist, #cart {
  background-color: rgb(218, 218, 218);
  min-height: 600px;
  padding: 30px 30px 50px 30px;
  display: flow-root;
}

.wishlist_h, .cart_h {
  font-weight: bold;
  font-size: 35px;
  margin: 40px;
}

#list {
  margin: 40px;
}

.gradient-border-bg {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, rgba(219, 46, 16, 1) 0%, rgba(255, 201, 3, 1) 100%)
      border-box;
  border: 5px solid transparent;
  border-radius: 50px;
}

.wishlist_b {
  color: #ff4747;
  cursor: pointer;
}

.wishlist_b:hover {
  text-decoration: underline;
}

.wishlist_item {
  background-color: #f2f2f2;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 9px 20px 9px 9px;
  max-width: 900px;
  max-height: 145px;
}

.wishlist_pic {
  width: 140px;
  height: 140px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}

.wishlist_cap {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}

.wishlist_btn {
  background-color: #f1f1f1;
  border-radius: 25px;
  margin-top: 10px;
  width: 100px;
  padding: 8px;
  font-weight: 600;
}

#continue{
  width: 200px;
  border-color: red;
  color: red;
  background-color: white;
  height: 35px;
  border-radius: 20px;
  font-size: 14px;
}

#viewCart{
  color: white;
  width: 200px;
  background-color: red;
  margin: 15px 10px;
  height: 35px;
  border-radius: 20px;
  font-size: 14px;
  border: none;
}

#checkout{
  background: #fd384f;
  min-width: 180px;
  color: white;
  border-radius: 25px;
  border: none;
  height: 40px;
  font-weight: 800;
}