body {
    font-family: Open Sans,Roboto,Arial,Helvetica,sans-serif,SimSun;
}

.header{
    background-color: rgb(200, 200, 200);
    overflow: auto;
    width: 100%;
    height: 35px;
}

.header > span {
    font-size: 14px;
    position: absolute;
    top: 6px;
    right: 16px;
}

.logo {
    width: 166px;
    height: 40px;
    position: relative;
    left: 60px;
    top: 20px;
    margin-top: 15px;
}

.search{
    width: 400px;
    height: 28px;
    border: 2px solid red;
    display: inline-block;
}

input[type=submit] {
    background-image: url('./assets/search.png');
    background-color: rgb(251, 53, 53);
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid red;
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

input[type=text]:focus{
    border: 2px solid red;
    outline: none;
}

input[type=text]{
    border-radius: 4px 0 0 4px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 0;
    margin-bottom: 0;
}

#form{
    position: relative;
    left: 25vw;
    bottom: 3vw;
    align-items: center;
    display: flex;
    margin-top: 25px;
    max-width: 500px;
}

#categories{
    margin-left: 40px;
    background-color: white;
    width: 260px;
    border-radius: 9px 9px 9px 9px;
    padding: 4px;
}

dt{
    margin-bottom: 10px;
    font-size: 15px;
}

#section{
    background-color: rgb(218, 218, 218);
    width: 100%;
    height: 300px;
    padding: 10px;
}

dt:hover{
    font-weight: bold;
}

#welcome{
    position: absolute;
    left: 1100px; 
    top: 180px;
    background-color: white;
    border-radius: 9px;
    width: 300px;
    padding: 9px;
    text-align: center;
}

#registerBtn{
    background-image: linear-gradient(94deg,#ff0a0a,#ff7539);
    padding: 3px;
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 20px;
    height: 40px;
    margin-right: 10px;
}

#signInBtn{
    background-color: #f5f5f5;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    height: 40px;
    font-size: large;
}

.featured{
    width: 90px;
    height: 90px;
    border-radius: 14px;
    border: 4px solid #ff7539;
}

#featured-products{
    position: absolute;
    right: 500px;
    top: 160px;
    border-radius: 9px;
    padding: 5px;
    max-width: 700px;
}

.featured-product{
    display: inline-block;
    text-align: center;
    margin-right: 7px;
    background-color: white;
    border-radius: 8px;
    padding: 4px;
}